* {
    box-sizing: border-box;    
  }

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/sakura_bg.png);
    margin: auto;
}

header {    
    background-color: #fef2ec;
    border-bottom: 2px solid #F4B49C;
    height: 90px;
    margin: auto;    
}

#my-name {
    background-color: #F4B49C;
    color: white;
    height: 90px;
    width: 160px;    
    padding-top: 30px;
    margin-top: 0;     
    float: left;
}

nav {
    width: 250px;    
    float: right;
    margin-top: 30px;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;  
    text-align: center;     
}

.container {
    clear: both;
    background-color: #fef2ec;   
    width: 960px;
    padding: 20px;    
    margin: auto;    
}

#about-me {    
    text-align: left;
    color: #F4B49C;   
}

hr {
    border: 2px solid #F4B49C;
}


#bio-image {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
}

p {
   text-align: justify; 
}

footer {
    background-color: #fef2ec;   
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px; 
    border-top: 4px solid #F4B49C;
}